@import "styles/grids.css";
@import "styles/minicards.css";
@import "styles/buttons.css";
@import "styles/navbar.css";
@import "styles/colors.css";
@import "styles/typography.css";
@import "styles/containers.css";
@import "styles/minicard.css";
@import "styles/home.css";
@import "styles/card_exchange.css";
@import "styles/connect-wallet-card.css";
@import "styles/animation.css";
@import "styles/graph_exchange.css";

body {
    margin: 0;
}

/* Parte 2 */
.part-2 {
    background-image: url("home_img/sfondopt2nPR.png");
    background-size: cover;
}

.container-part2 {
    text-align: center;
    max-width: 1100px;
    margin: auto;
}

.minicard {
    text-align: left;
    float: left;
    margin: 0px 16px 0px 0px;
    background-color: white;
    width: 230px;
    height: 222px;
    padding: 24px;
    border-radius: 20px;
    border-bottom-style: outset;
    border-bottom: 5px solid rgb(231 227 235);
}

.minicard-group {
    display: flex;
    justify-content: center;
    padding: 20px;
}

svg {
    padding-top: 50px;
}

.bold {
    font-weight: 600;
}

h2.color-1 {
    color: #1FC7D4;
}

h2.color-2 {
    color: #ED4B9E;
}

/* fine parte 2 */
/*parte 3 */
.container-part3 {
    padding-top: 200px;
    text-align: left;
    max-width: 1000px;
    margin: auto;
    background-color: white;
}

.divisore {
    display: flex;
    margin: 15px;
}

.pictures {
    max-width: 500px;
    max-height: 428px;
    box-sizing: border-box;
}

#img1 {
    z-index: 3;
    position: absolute;
}

#img2 {
    z-index: 2;
    position: relative;
}

#img3 {
    z-index: 1;
    position: relative;
    bottom: 480px;
    left: 45px;
    max-width: 450px;
}

.parte-sx h3 {
    font-size: 45px;
}

.ahref {
    padding-left: 15px;
    font-size: 16px;
    color: #1FC7D4;
    font-weight: 600;
    text-decoration: none;
}

.ahref:hover {
    text-decoration: underline;
}

/*  Parte 4  */
.container-part4 {
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: left;
    max-width: 1000px;
    margin: auto;
}

.part-4 {
    background-image: url("home_img/bgpt3.jpg");
    background-size: cover;
}

#grafico-torta {
    z-index: 1;
    position: relative;
    max-width: 550px;
    right: 100px;
}

#grafico-lineare {
    z-index: 2;
    position: relative;
    max-width: 550px;
    right: 100px;
    bottom: 600px;

}

#cartella-coin {
    z-index: 3;
    max-width: 550px;
    position: relative;
    right: 100px;
    bottom: 1130px;

}

.parte-dx h3 {
    font-size: 45px;
}


/* Sezione 5  */
section h2 {
    font-size: 40px;
}

.section-5 {
    background: linear-gradient(rgb(111, 182, 241) 0%, rgb(234, 242, 246) 100%);
    padding: 48px 32px;
    display: flex;
    justify-content: center;
}

.sec-5 h2 {
    margin: 40px 0 24px;
}

.first-word {
    color: #7645D9;
}

div[class *="text-subtle"] {
    color: rgb(122, 110, 170);
    ;
}

.text-subtle-2 {
    margin: 0 0 40px;
    ;
}

/* Cards */
.card-icon {
    position: absolute;
    right: 6%;
    top: 6%;
    padding: 0;
}

.lottery-icon {
    fill: #FFF;
}

.card-title {
    margin: 8px;
    font-weight: 600;
    font-size: 40px;
}

.card-text1 {
    margin: 0 0 24px;
    font-weight: 600;
}

.card-text2 {
    margin: 0 0 40px;
    font-weight: 400;
}

.card-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-svg {
    fill: #FFF;
    padding: 0;
    font-weight: 600;
    margin-left: 5px;
}


/* Sezione 6  */
.section-6 {
    padding: 48px 32px;
    display: flex;
    justify-content: center;
}

.sec6-text h2 {
    margin-bottom: 24px;
}

.sec6-text .text-subtle {
    margin-bottom: 24px;
}

.sec6-img {
    max-width: 192px;
    max-height: 192px;
    position: relative;
}

#img-bottom-right {
    bottom: 580px;
}

#img-top-left {
    bottom: 190px;
    right: 10px;
}

#img-top-right {
    bottom: 390px;
    right: 10px;
}

@media screen and (min-width: 850px) {
    .sec6-img {
        max-width: 400px;
        max-height: 400px;
    }

    #img-bottom-right {
        bottom: 1180px;
    }

    #img-top-left {
        bottom: 385px;
        right: 10px;
    }

    #img-top-right {
        bottom: 800px;
        right: 10px;
    }
}

@media screen and (max-width: 850px){
    @keyframes img400-1 {
        0% {width: 192px; height: 192px; }
        50% {width: 182px; height: 182px; }
        100% {width: 192px; height: 192px;}
    }
    @keyframes img400-2 {
        0% {width: 192px; height: 192px; }
        50% {width: 182px; height: 182px; }
        100% {width: 192px; height: 192px;}
    }
    @keyframes img400-3 {
        0% {width: 192px; height: 192px; }
        50% {width: 182px; height: 182px; }
        100% {width: 192px; height: 192px;}
    }
    @keyframes img400-4 {
        0% {width: 192px; height: 192px; }
        50% {width: 182px; height: 182px; }
        100% {width: 192px; height: 192px;}
    }
}


.link-learn {
    color: rgb(31, 199, 212);
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
    text-decoration: none;
    margin-left: 16px;
}

.statistics-cell {
    border-left: 1px solid rgb(215, 202, 236);
    padding: 0 16px;
}

.cell-title {
    color: rgb(122, 110, 170);
    font-size: 16px;
    font-weight: 400;
}

.cell-value {
    font-weight: 600;
    font-size: 1.5rem;
}


@media screen and (max-width: 768px) {

    /* Benny */
    .minicard-group {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
    }

    .divisore {
        flex-direction: column;
    }

    .divisore .parte-sx {
        order: 2;
    }

    .divisore .parte-dx {
        max-width: 100%;
    }

    .pictures {
        max-width: 100%;
        position: relative;
        right: 50px;
    }

    #img1, #img2, #img3 {
        max-width: 200px;
        /* 200 */
        max-height: 200px;
        position: absolute;
        left: 65%;
        bottom: 1px;
    }

    #img3 {
        bottom: 0;
        ;
    }

    .pictures {
        max-height: 100px;
    }

    .divisore .parte-dx .pictures {
        position: relative;
    }

    .divisore .parte-sx .pictures {
        position: relative;
    }

    .divisore .parte-sx, .divisore .parte-dx {
        margin-left: 15px;
    }

    #grafico-torta, #grafico-lineare, #cartella-coin {
        max-width: 200px;
        max-height: 200px;
        position: absolute;
    }

    #grafico-lineare {
        bottom: 0;
        top: 10px;
    }

    #cartella-coin {
        bottom: 0;
        top: 10px;
    }

    @keyframes img512 {
        0% {
            width: 200px;
            height: 200px;
        }

        50% {
            width: 190px;
            height: 190px;
        }

        100% {
            width: 200px;
            height: 200px;
        }
    }

    @keyframes img450 {
        0% {
            width: 200px;
            height: 200px;
        }

        50% {
            width: 190px;
            height: 190px;
        }

        100% {
            width: 200px;
            height: 200px;
        }
    }

    @keyframes img550-1 {
        0% {
            width: 200px;
            height: 200px;
        }

        50% {
            width: 190px;
            height: 190px;
        }

        100% {
            width: 200px;
            height: 200px;
        }
    }

    @keyframes img550-2 {
        0% {
            width: 200px;
            height: 200px;
        }

        50% {
            width: 190px;
            height: 190px;
        }

        100% {
            width: 200px;
            height: 200px;
        }
    }

    @keyframes img550-3 {
        0% {
            width: 200px;
            height: 200px;
        }

        50% {
            width: 190px;
            height: 190px;
        }

        100% {
            width: 200px;
            height: 200px;
        }
    }

    /* Fine Benny */
}

/* Inizio Daniele */
/* Footer */
.pre-footer-container {
    display: flex;
    background-color: #6231c3;
    justify-content: space-around;
    height: 428px;
}

.cont1-prefoot {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    width: 80vh;
}

.footer-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.footer {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 100%;

}

.cont1-foot {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 40px;

}

.ul-footer {
    padding: 0;
}

.li-footer {
    margin: 10px;
}

.cont2-foot {
    align-self: flex-start;
    height: 55px;
    width: 100%;
    border-bottom: solid 1px gray;
    margin-top: 10px;
}

.cont3-foot {
    display: flex;
    justify-content: space-between;
    height: 3rem;
    margin-top: 30px;
    align-items: center;
}

.foot-subcont1 {
    display: flex;
    align-items: center;
}

.foot-subcont2 {
    display: flex;
    align-items: center;

}

/* fine footer  */
/* Inizio footer image */
.pancake-container-1 {
    height: 256px;
    width: 256px;
}

.pancake-1 {
    height: 256px;
    width: 256px;
    position: absolute;
}

.pancake-2 {
    height: 256px;
    width: 256px;
    position: absolute;
}

.pancake-3 {
    height: 256px;
    width: 256px;
    position: absolute;
}

.pancake-container-2 {
    height: 256px;
    width: 256px;
}

.pancake-4 {
    height: 256px;
    width: 256px;
    position: absolute;
}

.pancake-5 {
    height: 256px;
    width: 256px;
    position: absolute;
}

.pancake-6 {
    height: 256px;
    width: 256px;
    position: absolute;
}

.svg-format {
    height: 24px;
    width: 160px;
    margin-top: 20px;
}

.svg-format2 {
    display: none;
    height: 24px;
    width: 160px;
    margin-top: 20px;
}

.mini-svg {
    margin: 10px;
}

.icon-svg {
    height: 1.5rem;
    width: 1.5rem;
    margin-right: 10px;
}

#svg-value {
    margin-right: 10px;

}


@media screen and (max-width: 850px) {
    .pancake-1, .pancake-2, .pancake-3, .pancake-4, .pancake-5, .pancake-6, .pancake-container-1, .pancake-container-2 {
        display: none;
    }

}

@media screen and (max-width: 575px) {
    .cont1-foot {
        flex-direction: column;
        order: 2;
    }

    .cont2-foot {
        order: 3;
    }

    .cont3-foot {
        order: 1;
        flex-wrap: wrap;
    }

    .svg-format {
        display: none;
    }

    .svg-format2 {
        display: block;
    }

    .foot-subcont1 {
        order: 2;
    }

    .foot-subcont2 {
        order: 1;
        width: 500px;
        margin-bottom: 30px;
        justify-content: space-between;
    }

    #svg-value {
        margin-right: 260px;
    }

}

/* fine footer imager */
/* fine Daniele */