body{
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn{
    cursor: pointer;
    min-height: 48px;
    min-width: auto;
    border-radius: 16px;
    color: black;
    font-weight: 600;
    border: 0px;
    font-size: 16px;
    letter-spacing: 0.03em;
    padding:0 24px;
}
.btn-nor{
    background-color: rgb(31, 199, 212);
    color: white;
    box-shadow:rgb(14 14 44 / 40%) 0px -1px 0px 0px inset;
}

.btn:hover{
    transition-delay: 0.2s ease;
    opacity:0.6;

}
.btn-alt{
    background-color: transparent;
    color:rgb(31, 199, 212);
    border: 2px solid rgb(31, 199, 212);
}
.btn-sb{
    min-height: 32px;
    background-color: rgb(31, 199, 212);
    color: white;
    box-shadow:rgb(14 14 44 / 40%) 0px -1px 0px 0px inset;
}