.img-people {
    float:right;
    padding: 1px 1px 3px;
    margin-bottom: 16px;
    /*background-color: aqua;*/
}
.minicard {
    float:left;
    grid-column: 4 / 6;
    margin: 0px 16px 0px 0px;
    background-color: white;
    width: 230px;
    height: 222px;
    padding: 24px;
    border-radius: 20px;
    border-bottom-style: outset;
    border-bottom: 5px solid rgb(231 227 235);
}
.minicard h1 {
    margin: 80px 0px 0px 0px;
    position: relative;
    font-family: Kanit, sans-serif;
    font-size: 38px;
    font-weight: 600;
    color: rgb(41 17 93);
    height: 40px;
    /*background-color: blueviolet;*/
}
.minicard h2 {
    margin: 0px 0px 24px 0px;
    font-family: Kanit, sans-serif;
    font-size: 38px;
    font-weight: 600;
    color: rgb(119 74 212);
    /*background-color: brown;*/
}
.minicard h5 {
    margin:0px;
    font-family: Kanit, sans-serif;
    font-weight: 300;
    font-size: 16px;
    height: 20px;
    color: rgb(148 139 184);
    /*background-color: cadetblue;*/
}
.img-circle {
    float:right;
    padding: 1px 1px 3px;
    margin-bottom: 16px;
    /*background-color: aqua;*/
}
.img-schemes {
    float:right;
    padding: 1px 1px 3px;
    margin-bottom: 16px;
    /*background-color: aqua;*/
}
.minicard-group {
    padding: 450px 27% 100px 27%;
}